
ul {
    list-style: none;
}
li::first-letter{
    text-transform: capitalize;
}

.forecast {
    text-align: center;
    color: red;
    font-weight: bold;
}

.date {
    text-align: center;
    color: blue;
    font-size: 18px;
}

.day {
    font-size: 17px;
}

.daytime {
    color: brown;
    margin-top: -90px;
    margin-left: -68px;
    font-size: 20px;
}

.night {
    color: brown;
    margin-top: 18px;
    margin-left: -68px;
    font-size: 20px;
}

.humidity {
    text-decoration: none;
    color: red;
}

.weatherinfo {
    margin-top: 30px;
}

.lagos {
    margin-top: 35px;
}

a:link {
    text-decoration: none;
    font-size: 15px;
}

.rainy {
    font-size: 30px;
}

.temp {
    color: rgb(33, 33, 33);
        font-size: 40px;
        line-height: 1;
        font-weight: 400;
    }
  


.units {
    font-size: 12px;
    position: relative;
    margin-left: -5px;
    font-weight: bold;
    top: -20px;
}
.git{
 
margin-left: 150px;
margin-top: 20px;
    
}
.container{
    display: block;
        border: solid blueviolet;
        border-width: 5px;
       
        margin: 0 auto;
        margin-top: 30px;
        background-color: pink;

    }
    .temp2{
        display: block;
        margin-left: 50px;
    }
.icon{
    margin-right: 5px;
        height: 64px;
        width: 64px;
}